@import './../../../../../styles/variables';

.navigation {
  width: 4rem;
  height: 4rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: $color-light;
}

.menu-toggle {
  position: relative;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  cursor: pointer;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: '?';
    font-size: 1.9rem;
    font-weight: bold;
    transition: 1.5s;
  }

  &.active::before {
    transform: rotate(180deg);
  }

}

.menu {
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-color: $color-light;
  border-radius: 20px;
  z-index: -1;
  transition: transform 0.5s, width 0.5s, height 0.5s;
  transition-delay: 1s, 0.5s, 0.5s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

  &.box {
    padding: 1rem;
    width: 20rem;
    height: 13rem;
    border-radius: 20px;
    z-index: 5;
    transform: translate(9rem, 9rem);
    transition-delay: 0s, 0.5s, 0.5s;
    background-color: $color-light;

    p {
      width: 18rem;
      padding: 0.5rem;
      opacity: 1;
      visibility: visible;
      transform: translateY(0px);
      transition: 0.75s;
      transition-delay: 0.75s;
    }
  }

  p {
    width: 18rem;
    padding: 0.5rem;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-16px);
    transition: 0.75s;
    transition-delay: 0s;
  }
}