@import '../../../styles/variables';

.logo {
  display: flex;
  align-items: center;

  @media only screen and (max-width: 600px) {
    display: none;
  }
}

.button-link {
  padding: 1rem;
  box-sizing: border-box;
  border-style: none;
  background-color: $color-light;

  &:hover {
    background-color: $color-semi-light;
    border-style: none;
  }
}

.button {
  @extend .button-link;
  width: 15.4rem;
  margin-bottom: 1rem;
}

.delete-button {
  @extend .button;

  &:hover {
    background-color: $color-red;
    color: $color-light;
  }
}

.toolbar-container {
  background-color: $color-light;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.toolbar {
  background-color: $color-light;
  display: flex;
  justify-content: end;
  align-items: center;

  a {
    margin: 0 1rem;
    padding: 1rem;
    text-decoration: none;

    &:active {
      background-color: $color-semi-light;
      border-radius: 50%;
    }

    @media only screen and (max-width: 600px) {
      margin: 0;
      justify-content: space-around;
    }
  }

}

.circle {
  height: 1rem;
  width: 1rem;
  border: 2px solid $color-semi-light;
  border-radius: 50%;
  margin: 0.5rem 0.2rem;
}

.fill {
  background-color: $color-semi-light;
}