.navigation {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

}

.menu-toggle {
  position: relative;
  width: 4rem;
  height: 4rem;
  border: 1px solid #8c358c;
  border-radius: 50%;
  cursor: pointer;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;



  &::before {
    //  content: url(./icons/rule.svg);
    content: '?';
    font-size: 1.9rem;
    font-weight: bold;
    transition: 1.5s;
  }

  &.active::before {
    transform: rotate(360deg);
  }
}