.avatar-img{
  height: 1rem;
  width: 1rem;
}



.topic-container {
  width: 70%;
  background-color: var(--very-opasity);
  margin: 1rem;
  padding: 1rem;
}

.topic {
  width: 25rem;
  background-color: var(--light-opasity);
  margin: 1rem;
  padding: 1rem;
}

.topic img {
  width: 100%;
}
