:root{
  --light: #e2e2f0;
  --light-opasity: #e2e2f0a1;
  --very-opasity: #e2e2f047;
  --semi-light: #d0d0e7;
  --dark: #535387;
  --red: #cd5c5c;
}

*{
  box-sizing: border-box;
  color: var(--dark);
  font-size: 1.1rem;
  margin: 0;
}

.main {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.d-flex {
  display: flex;
}

.fd-column{
  flex-direction: column;
}
.side {
  width: 12rem;
  margin: 1rem;
}
.logo-container{
  width: 30rem;
  padding: 2rem 1rem 1rem;
  background-color: var(--light-opasity);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 30rem;
  padding: 1rem 0 4rem;
  background-color: var(--light-opasity);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form input {
  padding: 0.8rem;
  margin: 0.3rem;
  border-style: none;
}

.form input:focus-visible{
  outline: none;
  border-bottom: 1px solid var(--dark);
}

.button{
  padding: 1rem;
  margin: 0.3rem;
  box-sizing: border-box;
  border-style: none;
  width: 15.4rem;
  background-color: var(--light);
}
a .button-link{
text-decoration: none;
border-bottom: #d0d0e7;
}
.button-link {
    padding: 1rem;
    margin: 0.3rem;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    width: 15.4rem;
    background-color: var(--light-opasity);
}
.button-link:hover{
  background-color: var(--light);
}

.input {
  padding: 1rem;
  margin: 0.3rem;
  box-sizing: border-box;
}

.button:hover{
  background-color: var(--semi-light);
  border-style: none;
}

.error-msg{
  color: var(--red);
}
.topic-container {
  width: 70%;
  background-color: var(--very-opasity);
  margin: 1rem;
  padding: 1rem;
}

.topic {
  width: 25rem;
  background-color: var(--light-opasity);
  margin: 1rem;
  padding: 1rem;
}

.topic img {
  width: 100%;
}

.profile-img{
  width: 10rem;
  height: 10rem;
  border: 2px solid var(--semi-light);
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
}
.toolbar-container {
  background-color: var(--light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
.toolbar {
  background-color: var(--light);
  display: flex;
  justify-content: end;
  align-items: center;
}
.toolbar a {
  margin: 1rem;
  padding: 1rem;
}

.auth-layer{
  height: 100vh;
  background-image: url(./assets/image-bg.png);
background-size: cover;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.auth-layer>a {
  background-color: var(--light);
  width: 14rem;
  margin: 1rem;
  padding: 1rem;
  text-decoration: none;
  text-align: center;
}
.auth-layer>a:hover{
background-color: var(--semi-light);
}

.circle {
  height: 1rem;
  width: 1rem;
  border: 2px solid var(--semi-light);
  border-radius: 50%;
  margin: 0.5rem 0.2rem;
}

.fill {
  background-color: var(--semi-light);
}