$color-light: #e2e2f0;
$color-light-opacity: #e2e2f0a1;
$color-very-opacity: #e2e2f047;
$color-semi-light: #d0d0e7;
$color-dark: #535387;
$color-semi-dark: #8181ae;
$color-semi-darker: #a0a0b8;

$color-red: #cd5c5c;
$color-semi-red: #c08484;
$color-light-red: #f4d3d3;

$color-green: #92a392;
$color-light-green: #6bcd6b70;