@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,500;1,400&display=swap');
@import './variables';

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.1rem;
  color: $color-dark;
}

body {
  font-family: 'Nunito', sans-serif;
}

.main {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.d-flex {
  display: flex;
}

.fd-column {
  flex-direction: column;
}

.m-t-b {
  margin: 1rem 0.3rem;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  width: 30rem;
  padding: 1rem 0 4rem;
  background-color: $color-light-opacity;

  @extend .center;
}

.input {
  padding: 1rem;
  margin: 0.3rem;
  box-sizing: border-box;
}

.topic-container {
  width: 100%;
  background-color: $color-very-opacity;
  border: 1px solid $color-light;
  margin: 1rem;
  padding: 1rem;
}